body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 90px;
    max-width: 350;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 80%;
    font-size: 16px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #2e59d9;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}